h1 {
  font-size: 4rem;
  margin: 0;
}
h2 {
  font-size: 2rem;
  margin: 0;
}
body {
  font-family: sans-serif;
  position: relative;
  text-align: center;
  margin: 0;
  width: 100%;
  background: #451299;
  color: #554077;
  background: rgb(254, 235, 185);
  background: linear-gradient(
    0deg,
    rgba(254, 235, 185, 1) 0%,
    rgba(248, 163, 170, 1) 40%,
    rgba(203, 152, 243, 1) 100%
  );
}
#counter {
  margin-top: -100px;
}
#ball {
  width: 200px;
  position: absolute;
  display: inline-block;
}
#circleText {
  width: 500px;
  height: 500px;
  margin-top: -60px;
}
#landing {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
}
#palms {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -100;
}
#logo {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  #main {
    width: 40%;
    margin-left: 30%;
  }
}

.arrows {
  width: 60px;
  height: 72px;
  margin-left: -30px;
  margin-bottom: 20px;
}

.arrows path {
  stroke: #554077;
  fill: transparent;
  stroke-width: 1px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s; /* Safari 和 Chrome */
}
